{% include 'sitio/cabecera.html' %}
  <main>
    <div class="row align-items-md-stretch">
        <div class="col-md-12">
            <div
                class="h-100 p-5 text-white bg-info border rounded-3">
                <h2>Bienvenido</h2>
                <p>Pagina realizada en Python </p>

                <p class="lead">
                    <a class="btn btn-success btn-lg" href="/libros"> Ver libros disponibles</a>
                </p>
                
            </div>
         
        </div>

    </div>
  </main>
  {% include 'sitio/pie.html' %}